p,h1,h2,h3,h4,ul,ol,li,textarea,input,a,header,label,table,th,tr,td{
	font-family:Roboto;
}

a{
	color: #ff6b00;
}

a:hover{
	text-decoration:unset;
}

textarea {
	color:black;
	border-radius:5px;
	font-size:10px;
}

input[type="text"]{
	color:black;
	border:1px solid #aaa;
	border-radius:5px;
	padding:1%;
	font-size:24px;
	width:100%;
}


body {
    overflow: scroll;
}


#header{
	width:100%;
	text-align:center;
	background-color:orange;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	color:black;
}
#header > a {
	color:black;
}

/* Style the list */
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	text-align:center;
	font-size:24px;
}

/* Float the list items side by side */
ul.tabs li {
	display:inline-block;
	font-size:24px;
}

/* Style the links inside the list items */
ul.tabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size:24px;
}

/* Change background color of links on hover */
ul.tabs li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.inputfile {
	
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btncust {
	font-family:Roboto;
	padding:2%;
	border:unset;
	border-radius:5px;
	font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #fbb040;
    display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btncust:hover {
	background-color:#333333;
}

.panel-heading {
	background-color:#fbb040;
	padding-top:1%;
	padding-bottom:1%;
	text-align:center;
	font-weight:bold;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	color:white;

}
.panel-body {
	padding-left:1%;
	padding-right:1%;
	border:1px solid #ccc;
	border-top:1px solid #fbb040;
	border-bottom-left-radius :10px;
	border-bottom-right-radius: 10px;
}

.panel-body > p {
	font-size:12px;
}

#input{
	padding-top:2%;
}

.radiobtn{
	width:3%;
	height:3%;
}

.tooltip{
	margin-left:0px !important;
}
.tooltip-main{
	margin-left:0px !important;
}
.top {
	margin-left:0px !important;
}

.tooltip-inner {
	display:none;
	font-family:roboto;
	font-weight:bold;
}
.tabpanel {
	background-color:white;
}
.ancientTable,.outsiderTable,.otherStats {
	width:100%;
	background-color:white;
	border:1px solid #ccc;
	border-top:1px solid #fbb040;
	border-bottom-left-radius :10px;
	border-bottom-right-radius: 10px;
}
.ancientTable,.outsiderTable,.otherStats > thead > tr > th {
	text-align:left;
}

.ancientTable,.outsiderTable,.otherStats th {
	background-color:unset;
}
.ancientTable tr > td {
	font-size:24px;
	background-color:unset;
}

#ancienttbl .col1 {
    width: 18%;
}

#ancienttbl .col2, .col3 {
    width: 20%;
	padding-right:1%;
}
#ancienttbl .col4 {
    width: 20%;
	padding-right:1%;
}
#ancienttbl .col2 > input {
	width:100%;
}
#ancienttbl .col4 > input {
	width:100%;
}

.half {
	display:inline-block;
	width:49%;
	margin:0 auto;
}

.otherStats,.outsiderTable {
	min-height:202px;
}

.table-striped {
	width:100%;
}

.table-striped > tbody > tr:nth-child(even){
	background-color:#fbb040;
}

.table-striped > tbody > tr > td {
	border:1px solid #ccc;
}

.calctabs {
	border-top-left-radius :10px;
	border-top-right-radius:10px;
}